/* --- FUENTES Y ESTILOS GENERALES --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 60px 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #001a41;
}

p {
    color: #555;
}

/*! --- HEADER Y NAVEGACIÓN --- */

body header {
    background-color: rgb(212, 230, 183) !important;
    padding: 0;
}

header img {
    width: 220px;
    margin: 0;
    padding: 0;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

header ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
}

header ul li a:hover {
    background-color: rgb(212, 230, 183);
    margin: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*?--- SECCIÓN HERO ---*/

.hero h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
    padding-top: 15px;
}

.tarjetaservicio-grid {
    display: flex;
    flex-direction: column;
}

.tarjetaservicio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}



/** --- NOSOTROS --- */

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 40px auto;
    max-width: 1000px;
}

.nosotros img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.nosotros div {
    text-align: center;
}

.nosotros div h2 {
    text-align: center;
    margin-bottom: 15px;
}

.nosotros div p {
    line-height: 1.6;
    color: #555;
}

/** --- SERVICIOS --- */

.headservicios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.tituloservicios h2 {
    padding: 15px;
}

.tituloservicios {
    grid-column: 1 / -1;
    text-align: center;
}

.headservicios article {
    border: 1px solid #c3c3c37d;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px auto;
    max-width: 1000px;
}

.headservicios article img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.headservicios article div {
    padding: 20px;
}

.finalservicios {
    padding-bottom: 15px;
}

/** --- CLIENTES --- */

.tituloclientes {
    text-align: center;
}

.tituloclientes h2 {
    padding: 10px;
}

.clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c3c3c37d;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px auto;
    max-width: 1000px;
}

.clientes p {
    margin: 30px;
}

.clientes img {
    width: 500px;
    border-radius: 10px;
    margin: 20px;
}

/** --- CONTACTO --- */

.contacto h2 {
    padding: 10px;
}

.contacto {
    text-align: center;
}

.contacto form {
    max-width: 600px;
    margin: 30px auto 0;
    text-align: left;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.contacto input:focus,
.contacto textarea:focus {
    outline: none;
    border-color: #b7cf9a;
    /* Cambiamos el color del borde a tu verde corporativo */
    box-shadow: 0 0 8px rgba(183, 207, 154, 0.6);
    /* Añadimos una sombra suave del mismo color */
}


input.cta-button {
    width: auto;
}

.mapa-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.mapa-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*! --- FOOTER --- */


footer {
    background-color: rgb(212, 230, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div a img {
    width: 30px;
    margin: 10px;
}




/*? --- Estilos Media Queri --- */
@media (min-width: 768px) {

    .tarjetaservicio-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
    }


    .tarjetaservicio-card {
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 30%;
        margin: 20px;
    }


    .nosotros div {
        text-align: left;
    }

    .nosotros div h2 {
        text-align: left;
    }

    .nosotros img {
        flex: 1;
        height: 500px;
    }


    .headservicios {
        grid-template-columns: 1fr 1fr;
    }

    .clientes article {
        display: flex;
        flex-direction: row;
        max-width: fit-content;
    }

    .clientes img {
        height: 150px;
    }

    .mapa {
        margin-top: 30px;
        text-align: center;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
    }


}